
input,
select,
textarea {
    max-width: 280px;
}

.margin-top-20 {
    margin-top: 20px;
    
}

.hero-div{
    margin-top:69px;
    overflow-x: hidden;
}


#left-div-text{
    color:white;
    background-color:black;
    font-family: 'Oswald', sans-serif;
    font-size:40px;
    height:585px;
    padding:0px;
    text-align:center;

  
    
}

.right-text {
    height:585px;
    padding:0px;
    

   
   
}

#step1{
    height:310px;
    width:310px;
    border-radius:50%;
    border-color:black;
    border-style:dotted;
    border-width:thick;

}




#step1text {
    display: flex;
    align-items: center;
    float:none;
}

#rowheight {
    margin-bottom:80px;
}


.font {
    /*font-family: 'Philosopher', sans-serif;*/
    font-family: 'Ubuntu Condensed', sans-serif;
    font-size: 18px;
   
       

}

.space {
    padding-top: 35px;
}



.navstyle {
    font-family: 'Grand Hotel', cursive;
    font-size: 26px;
}







.panel {
    margin-left:auto;
    margin-right:auto;
    max-width:400px;
     
}
 


.fonts{
     font-family: 'Oswald', sans-serif;
font-family: 'Ubuntu Condensed', sans-serif;
font-family: 'Harmattan', sans-serif;
}


.samplemenu{
    margin-bottom:7px;
}


.memtypecol{
    
    height:400px;
    width:300px;
   border: grey medium solid;
   border-radius:2%;
   text-align:center;
   
 
}

.radio{
    display:inline-block;
    height: 1.5em;
    width: 1.5em;
    text-align:center;
    margin-bottom:40px;
}

.memtypebtn{
    margin-left:600px;
    
}

.wow {
   visibility: hidden;
}
#footerstyle, footer > div  {
    background-color:#002B3B;
    color:white;
}

/*.wrapper {
    min-height: 100%;
    height: auto !important;
    height: 100%;
    margin: 0 auto -61px;
    padding-bottom: 61px;
}*/


.acctsum {
    border: grey medium solid;

}

#woodpanel {
    background-image:url(/Content/Images/retina_wood.png);
}