
@{
    ViewBag.Title = "LandingPage";
}

<div class="container-fluid" style="margin-top:80px;">

    <div style="text-align:center">
        <h1> Welcome back, ___! </h1>
        <br />
        <h4>Today is @DateTime.Now.ToString()</h4>
    </div>

    
    <div style="margin-top:100px;" >
        <div class="panel panel-default" style="height:260px; ">
            <div class="panel-heading">
                <h3 class="panel-title"><strong>Account Summary</strong></h3>
            </div>
            <div class="panel-body">
                <strong> Membership:</strong> ___display membership info, if null then display button to select___
                and redirects to memberships selection page
            </div>
        </div>
    </div>

    <div style="margin-top:50px;">
        <div class="panel panel-default" style="height:260px; ">
            <div class="panel-heading">
                <h3 class="panel-title"><strong>Juices</strong></h3>
            </div>
            <div class="panel-body">
                <strong> Select Juices:</strong> ___display juices selected, if null then display button to select___
                and redirects to Products page
            </div>
        </div>
    </div>

    




</div>