
<div style="margin-top:80px">


    @{
        ViewBag.Title = "About Us";
    }
    <h2>@ViewBag.Title.</h2>




    <p>
        What began as a passion for all things healthy, blossomed into a loving relationship and eventually the successful launch
        of Fresh Start Juice Co back in 2014. Mona and Ben Graham met at a cooking class in 2012 and things just fell into
        place from there. They quickly learned they both had an interest in staying active, travelling and spending quality
        time together in the kitchen. Due to their busy schedules, Mona, fine art gallery event coordiantor at the Museum of Contemporary Art, and Ben,
        a startup business consultant, found that their morning routines were suffering while rushing out the door to work.
        <p> 
        They believe that if you start your day off on a healthy note, you can greatly improve the
        decisions you make for the rest of the day. They wanted to start small and create a thriving, healthy community of juice and smoothie lovers, while also making
        the whole process simple and inexpensive. n

    </p>

    <div class="row">
        <
    </div>
</div>