<div class="container-fluid" style="margin-top:80px"> 

@{
    ViewBag.Title = "Contact";
}
<h2>@ViewBag.Title.</h2>


    <address>
        426 W Briar Place
        Chicago, IL 606057
    </address>

    <address>
        <strong>Support:</strong>   <a href="mailto:admin@freshstartjuiceco.com">admin@freshstartjuiceco.com</a><br />
        <strong>Marketing:</strong> <a href="mailto:admin@freshstartjuiceco.com">admin@freshstartjuiceco.com</a>
    </address>

    <h3>@ViewBag.Message</h3>
    <form method="post">

        <textarea name="message"> </textarea>
        <button type="submit" class="btn btn-default">Submit Message</button>
       
    </form>

</div>