<div class="container" style="width:100%; padding:0px">


    @{
        ViewBag.Title = "Home Page";
    }

    <div class="pageHero-container">
        <img src="~/Content/Images/newgrapefruit3.jpg" style="width:100%" class="img-responsive" />
        <div class="textoverhero">
            <h1 style="font-size">Fresh Start Juice Co</h1>
            <h4> Start your day off right on a fresh note</h4>
            <h4>Fresh, certified organic healthy juices and smoothies delivered direct to your door. Daily.</h4>
        </div>

    </div>
   
 



    <div class="container">
        <div class="row">
            <div class="well">


                <h2> We are....</h2>

                <p>
                    Your neighborhood juice bar. Local. All organic no exceptions! We try to source
                    locally first to find the freshest highest quality ingredients possible. We know you're busy,
                    we get it. We also know that your busy schedules sometimes can leave you lacking in healthy food consumption.
                    It's been proven that how you start your morning sets the tone for the rest of your day. Why not start your day on
                    the right note?
                </p>

                <div>
                    <img src="~/Content/Images/juicebar.jpeg" class="center-block" style="height:450px; width:800px" />

                </div>
                </div>





            </div>


        </div>
    





    @*<div class="container">



        <div class="col-md-6">
            <div class="well">
                <img src="~/Content/Images/juicer.jpg" style="max-width:100%; height:220px" class="center-block"/>
                <h2>How It Works</h2>
                <p>

                </p>
                <button type="button" class="btn btn-primary btn-sm" data-toggle="modal" data-target="#myModal">
                    modal
                </button>
                
            </div>
        </div>


        <div class="col-md-3">
            <div class="well">
                <img src="~/Content/Images/localmarket.jpeg" style="max-width:100%; height:220px" />
                <h2>See our Delivery Area</h2>
                <p/p>
                <p><a class="btn btn-default" href="http://go.microsoft.com/fwlink/?LinkId=301866">Learn more &raquo;</a></p>
            </div>
        </div>

        <div class="col-md-3">
            <div class="well">
                <img src="~/Content/Images/juicesmoothiepacks.jpg" style="max-width:100%; height:220px" />
                <h2>Pricing and Membership Info</h2>
                <p></p>
                <button type="button" class="btn btn-primary btn-sm" data-toggle="modal" data-target="#deliverymodal">
                    modal
                </button>
            </div>
        </div>
    </div>





   


 

    <!-- Modal -->
    <div class="modal fade" id="myModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel">
        <div class="modal-dialog" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                    <h4 class="modal-title" id="myModalLabel">Modal title</h4>
                </div>
                <div class="modal-body">
                    Cupcake ipsum dolor sit. Amet chupa chups chocolate bar danish macaroon gummi bears pastry jelly. Chocolate dessert pastry dragée. Lollipop chupa chups brownie cake powder lemon drops croissant muffin donut. Chupa chups dessert liquorice biscuit chupa chups wafer chocolate. Jujubes danish cake toffee jelly macaroon gummi bears marshmallow cookie. Bonbon wafer danish jelly beans topping chocolate cake cupcake dessert. Brownie jujubes jelly-o tiramisu. Tootsie roll tart croissant icing cotton candy jelly-o tootsie roll.
                    Muffin sweet sugar plum liquorice gummi bears pie bear claw. Marshmallow jelly-o sweet dragée lollipop. Pastry pie marzipan. Biscuit macaroon marzipan cake halvah lollipop powder sesame snaps muffin. Danish apple pie toffee marzipan chupa chups dessert croissant macaroon. Gummies dragée cupcake jelly-o powder lemon drops tootsie roll macaroon.
                    Icing danish icing liquorice. Lemon drops apple pie toffee bonbon chupa chups. Macaroon sesame snaps cheesecake. Chocolate cake liquorice chocolate cake marshmallow sweet. Ice cream donut muffin cake chocolate bar jelly-o jelly beans marzipan sweet. Candy dragée cotton candy caramels icing carrot cake marzipan tart.

                    ...
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
                    @*<button type="button" class="btn btn-primary">Save changes</button>
                </div>
            </div>
        </div>
    </div>

    </div>


<!-- Modal -->
<div class="modal fade" id="deliverymodal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                <h4 class="modal-title" id="myModalLabel">Modal title</h4>
            </div>
            <div class="modal-body">
                
                <img src="~/Content/Images/mymap.png" style="width:100%" />
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
                @*<button type="button" class="btn btn-primary">Save changes</button>
            </div>
        </div>
    </div>*@

</div>

    