@model EricaStore.Models.MembershipTypeModel
@{
    ViewBag.Title = "MembershipType";
}

<div style="margin-top:80px"></div>

    <h1>@ViewBag.Message</h1>
    <br />

    <div class="container">

        <div class="row">
            <div class="col-md-4">
                <div class="memtypecol">
                    <h2><strong> Ultimate Juice Fix</strong></h2>
                    @*@Model.Price.ToString("C")*@
                    <br />
                    <img src="~/Content/Images/newbodyheart.jpg" />
                    <br />
                    <p>Our best selling package! Delivered direct to you 5 days a week, M-F</p>

                    <input type="radio" id="selector" class="radio" />

                </div>
            </div>

            <div class="col-md-4">
                <div class="memtypecol">
                    <h2><strong>Triple Booster</strong> </h2>
                    <br />
                    <img src="~/Content/Images/newspacewalk1.jpg" />
                    <br /><p>
                        Motivated and geared up to take the 3 days a week challenge: Tues, Thurs, Sat
                    </p>
                    <input type="radio" id="selector" class="radio" />

                </div>


            </div>

            <div class="col-md-4" style="height:700px">
                <div class="memtypecol">

                    <h2><strong> Weekend Warrior</strong></h2>
                    <br />
                    <img src="~/Content/Images/newyogapose1.jpg" />
                    <br />
                    <p>
                        Bring on the fun! This 2 days a week package is just what you need to get your Sat and Sun fired up
                    </p>
                    <input type="radio" id="selector" class="radio" />

                </div>

            </div>
            
        </div>

       

    </div>
    <div class="memtypebtn">

        <button type="submit" class="btn btn-lg btn-success">Add to Cart</button>

        <a href='@Url.Action("Account", "LandingPage")' class="btn btn-lg btn-primary">Back to Account </a>
    </div>
